{% extends "base.html" %}
{% block content %}

<div class="card-body">
    <div class="hero-section">
        <div class="hero-content">

            <h1 class="display-3 fw-bold">
                Welcome to <span class="text-warning">TrekEra</span>
            </h1>

            <p class="lead mt-3"><br><br> Explore breathtaking destinations, book trekking adventures, and create unforgettable memories. </p>
            <p>Start Your Adventure </p>
        </div>
    </div>
</div>

<section class="container mt-5">

    <div class="row text-center">

        <div class="col-md-4">
            <h2>🏔️</h2>
            <h4>Beautiful Treks</h4>
            <p>Explore mountains, forests, waterfalls and scenic trails.</p>
        </div>

        <div class="col-md-4">
            <h2>👥</h2>
            <h4>Easy Booking</h4>
            <p>Reserve your trekking slot in just a few clicks.</p>
        </div>

        <div class="col-md-4">
            <h2>🌿</h2>
            <h4>Experienced Guides</h4>
            <p>Adventure with trained staff and experienced trek leaders.</p><br>
        </div>

  </div>
</div>
 
{% endblock %}
