{% extends "base.html" %}
{% block content %}

<h2 class="fw-bold text-success">
    👤 User Dashboard
</h2>

<p class="text-muted">
    Welcome, <strong>{{ current_user.username }}</strong>! Ready for your next adventure?</p>

<hr>


<div class="row">
    <div class="col-md-6">
        <h4>Available Trekks</h4>
        <ul class="list-group shadow-sm">
            {% for w in trekks %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <strong>{{ w.title }}</strong><br>
                    <p>{{ w.location }}</p>
                    <small> Guide : {{ w.staff.username if w.staff else 'TBA' }} <br> Slots : {{ w.slots_available }}</small>
                
                </div>
                <form action="/book/{{ w.id }}" method="POST">
                    <button type="submit"class="btn btn-success rounded-pill px-4"> Book Now </button>
                    
                </form>
            </li>
            {% else %}
            <li class="list-group-item text-muted"> No trekking trips are available right now..</li>
            {% endfor %}
        </ul>
    </div>
    
    <div class="col-md-6">
        <h4>My Booking History</h4>
        <ul class="list-group shadow-sm">
            {% for b in bookings %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        <strong>{{ b.trekk.title }}</strong><br>
                        <span class="badge bg-success">{{ b.status }}</span>
                    </div>

                    <a href="{{ url_for('views.cancel_booking', booking_id=b.id) }}"
                    class="btn btn-sm btn-danger"> Cancel </a>
                </li>
            {% else %}
            <li class="list-group-item text-muted">You haven't booked any trekks yet.</li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}